<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <div class="overflow-x-auto">
    <div class="min-w-screen min-h-screen bg-gray-100 flex items-start justify-center bg-gray-100 font-sans overflow-hidden mt-5">
        <div class="w-full lg:w-5/6">
           <div class='w-full'>
              <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                 <button onClick={handleOpenModal} class="bg-[#14472C] text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                    Create User
                 </button>
              </div>
           </div>

           <div class="bg-white shadow-md rounded my-6">
              <table class="min-w-max w-full table-auto">
                 <thead>
                    <tr class="bg-gray text-gray-600 uppercase text-sm leading-normal">
                       <th class="py-3 px-6 text-left">Username</th>
                       <th class="py-3 px-6 text-left">Email</th>
                       <th class="py-3 px-6 text-center">Status</th>
                       <th class="py-3 px-6 text-center">Actions</th>
                    </tr>
                 </thead>
                 <tbody class="text-gray-600 text-sm font-light">
                  <tr class="border-b border-gray-200 bg-gray-50 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left">
                       <div class="flex items-center">
                          <div class="mr-2">
                                <img class="w-6 h-6 rounded-full" src="https://randomuser.me/api/portraits/women/2.jpg"/>
                          </div>
                          <span>Lolo</span>
                       </div>
                    </td>
                    <td class="py-3 px-6 text-left">
                       <div class="flex items-center">
                             <span class="font-medium">oklo</span>
                       </div>
                    </td>

                    <td class="py-3 px-6 text-center">
                          <button class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs" >Admin</button>
                          <button class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs"  >User</button>
                    </td>

                    <td class="py-3 px-6 text-center">
                       <div class="flex item-center justify-center">
                          <button class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110" >
                             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                             </svg>
                          </button>

                          <button class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110" >
                             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                             </svg>
                          </button>
                       </div>
                    </td>

                 </tr>
                 </tbody>
              </table>
           </div>
        </div>
    </div>
</div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
