<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="card">
  <div class="row valign-wrapper">
    <div class="col s1">
      <img src="../assets/images/gozem.png" alt="GOZEM" class="circle responsive-img" style="width: 56px;">
    </div>
    <div class="col s10">
      <h6 class="green-text" style="position: relative;left: -98px;top: -5px;font-size: larger;font-weight: 700;">
        GOZEM WEB-ADMIN
      </h6>
    </div>
  </div>
</div>

<div class="">
  <div class="row">
    <div class="col s10">
      <div class="row">
        <div class="col s12"><h4>Package List</h4></div>
        <div class="col s12">
          <table class="highlight">
            <thead>
              <tr>
                  <th>Package ID</th>
                  <th>Expeditor</th>
                  <th>Destinator</th>
                  <th>Expeditor Address</th>
                  <th>Destinator Address</th>
                  <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Eclair Malo Greg Mio</td>
                <td>Eclair Du Claire</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>None</td>
              </tr>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Eclair Malo</td>
                <td>Eclair Du Claire</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>None</td>
              </tr>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Eclair Malo</td>
                <td>Eclair Du Claire</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>None</td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active green"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s2">
      <div class="row">
        <div class="col s12" style="position: relative;top: 23px;left: 40px;">
          <a class="waves-effect waves-light green btn">Create Package</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="row">
    <div class="col s10">
      <div class="row">
        <div class="col s12"><h4>Delivery List</h4></div>
        <div class="col s12">
          <table class="striped">
            <thead>
              <tr>
                  <th>Delivery ID</th>
                  <th>Package ID</th>
                  <th>Address</th>
                  <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>None</td>
              </tr>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>Open</td>
              </tr>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>In-transit</td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active green"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s2">
      <div class="row">
        <div class="col s12" style="position: relative;top: 23px;left: 40px;">
          <a class="waves-effect waves-light green btn">Create Delivery</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
