<div class="container">
  <div class="row">
    <div class="green-text col s12"><h4>Create Delivery</h4></div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s10">
          <input id="packageid" type="text" data-length="36">
          <label for="packageid">Package Id (Format GUID )</label>
          <span class="helper-text" data-error="wrong" data-success="right">Ex: bc078512-1457-cdcf-14ad-aeb123456aaa</span>
        </div>
      </div>
    </form>
  </div>
</div>
