<div class="">
  <div class="row">
    <div class="col s10">
      <div class="row">
        <div class="col s12"><h4>Package List</h4></div>
        <div class="col s12">
          <table class="highlight">
            <thead>
              <tr>
                  <th>Package ID</th>
                  <th>Expeditor</th>
                  <th>Destinator</th>
                  <th>Expeditor Address</th>
                  <th>Destinator Address</th>
                  <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Eclair Malo Greg Mio</td>
                <td>Eclair Du Claire</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>None</td>
              </tr>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Eclair Malo</td>
                <td>Eclair Du Claire</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>None</td>
              </tr>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Eclair Malo</td>
                <td>Eclair Du Claire</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>None</td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active green"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s2">
      <div class="row">
        <div class="col s12" style="position: relative;top: 23px;left: 40px;">
          <a class="waves-effect waves-light green btn" routerLink="package" >Create Package</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="row">
    <div class="col s10">
      <div class="row">
        <div class="col s12"><h4>Delivery List</h4></div>
        <div class="col s12">
          <table class="striped">
            <thead>
              <tr>
                  <th>Delivery ID</th>
                  <th>Package ID</th>
                  <th>Address</th>
                  <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>None</td>
              </tr>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>Open</td>
              </tr>
              <tr>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>bc078512-1457-cdcf-14ad-aeb123456aaa</td>
                <td>Lat: 1.05225 | Lng: 50.2</td>
                <td>In-transit</td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active green"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s2">
      <div class="row">
        <div class="col s12" style="position: relative;top: 23px;left: 40px;">
          <a class="waves-effect waves-light green btn" routerLink="delivery">Create Delivery</a>
        </div>
      </div>
    </div>
  </div>
</div>
